@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?22665036');
      src: url('./font/fontello.eot?22665036#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?22665036') format('woff'),
           url('./font/fontello.ttf?22665036') format('truetype'),
           url('./font/fontello.svg?22665036#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?22665036');
  src: url('./font/fontello.eot?22665036#iefix') format('embedded-opentype'), url('./font/fontello.woff?22665036') format('woff'), url('./font/fontello.ttf?22665036') format('truetype'), url('./font/fontello.svg?22665036#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 5px;
  text-align: center;
}
.icon-check { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-check-empty { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf096;&nbsp;'); }

.custom-checkbox, .icon-check {
  display: none;
}

.custom-checkbox:checked~.icon-check-empty {
  display: none;
}

.custom-checkbox:checked~.icon-check {
  display: inline-block;
}
