form {
  display: block;
  width: 450px;
  height: auto;
  margin: 50px auto;
  padding: 10px;
  border: 3px solid #008B8B;
  border-radius: 10px;
  background-color: #F0F8FF;
  font-size: 18px;
  font-family: 'Arial';
  position: relative;
}

input, textarea {
  display: inline-block;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-family: 'Arial';
}

.hidden {
  display: none;
}

#nameForm {
  position: absolute;
  right: 150px;
  top: 60px;
}

#phoneForm {
  position: absolute;
  right: 150px;
  top: 160px;
}

#emailForm {
  position: absolute;
  right: 150px;
  top: 260px;
}

#textForm {
  position: absolute;
  right: 150px;
  top: 350px;
}